

 h1{font-family: Fantasy;} 
.t1{
  color: red; font-family: Fantasy; font-size: 30px;}
  .t2{ 
    color:rgba(0, 0, 0, 0.939);font-family:  Fantasy; 


  }
.t3{color: red; font-family: Fantasy;}

body{
  background-image: linear-gradient(rgba(0, 0, 255, 0.347));
  height: 100vh;
}































